@import "../../../styles/colors.module.scss";

.ctaSection {
    background-color: $lightRed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 30px;
}

.imgCta{
    width: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.imgLogoNav {
    width: 180px;
}

.navBtn {
    margin: 0px 5px;
    border-color: transparent;
    color: $lightGray;
    transition: .3s;

    &:hover {
        border-color: $lightRed;
        color: #fff;
        background-color: transparent;
    }
}

@media (max-width: 452px){
    .nav {
        justify-content: center;
    }
    .navBtn {
        margin: 16px 10px;
        border-color: #fff;
        font-size: 14px;
    }
    .ctaSection {
        gap: 10px;
    }
}

@media (max-width: 338px){
    .ctaSection {
        text-align: center;
    }

    .imgCta {
        margin: 0px 8px;
    }
}